*.pyc
*.swo
*.swp
*~
*.log

node_modules
statick_output

# from setup.py
build/
dist/
*.egg-info/
MANIFEST
Pipfile*

# From tests
.coverage.*
.coverage
.mypy_cache
.pytest_cache
.tox
coverage.xml
output-*/
